

<h1>Home<h1>

<body>

<p>

<%= link_to "Suggestion" , new_suggestion_path %>

<br>

<br>


<%= link_to  "Complaint" ,new_complaint_path %>

<br><br><br>

<%= link_to  "Sign up" ,new_user_path %> 
<br><br>

<%= link_to  "About Us" ,about_path %> |

<%= link_to  "Contact" ,contact_path %>



</body>